In [1]:
import pandas as pd
import PyPDF2
import pdfplumber

In [2]:
filePath = "C:/Users/vignesh.dhakshnamoor/Downloads/Badger State Revenue Report (22).csv"  
tables = pd.read_csv(filePath)
NET_ENTERED_AMOUNT = tables.groupby('NATURAL_ACCOUNT')['NET_ENTERED_AMOUNT'].sum()
NET_ENTERED_AMOUNT.to_excel("C:/Users/vignesh.dhakshnamoor/Downloads/NATURAL_ACCOUNT_SUM.xlsx")

pd.options.display.float_format = '{:.2f}'.format

C:\Users\vignesh.dhakshnamoor\AppData\Local\Temp\ipykernel_1416\1156527274.py:2: DtypeWarning: Columns (14,19,20,21) have mixed types. Specify dtype option on import or set low_memory=False.
  tables = pd.read_csv(filePath)

In [4]:
pdf_path = 'C:/Users/vignesh.dhakshnamoor/Downloads/DefaultInvoice_US Invoice (7).pdf'

with open(pdf_path,'rb') as file:
    pdf_reader = PyPDF2.PdfReader(file)
    number_pages = pdf_reader.pages
    extracted_text = ''
    for page in number_pages:
        extracted_text += page.extract_text()

extracted_text

'                    Badger Daylighting Corp InvoiceNumber 1001125\nInvoice Date 06-07-2023\nPayment Terms IMMEDIATE\nAmountDue $   1,000.00\nPlease see attached tickets for additional detail\nBadger Daylighting Corp PO Box 95000, LB# 1627, Philadelphia, PA  19195-0001 Phone: (877) 322-3437\nPlease direct all invoicing inquiries to accountsreceivable@badgerinc.com and remittances to remittance@badgerinc.com \nBILL TO REMIT TO\nLEGACY FOUNDATIONS                                     \n530 TECHNOLOGY WAY, SUITE 300\nIrvine, CA  92618\n Badger Daylighting Corp\nPO Box 95000\nLB# 1627\nPhiladelphia, PA 19195-0001\nBank Routing # : 026013673  \nAccount #: 03248177952\nCustomer Number PO/Work Order AFE/Job Badger Sales Area\n7293577\nService\nDateTicket # Unit # Item Description Qty Unit of \nMeasureUnit Price Amount\nTesting2023:06:07\n17:30:241 Each 1,000.00 1,000.00\nTotal Due(USD) 1,000.00'

In [5]:

with pdfplumber.open(pdf_path) as pdf:
    # Iterate over each page in the PDF
    for page_number, page in enumerate(pdf.pages, 1):
        # Extract tables from the page
        tables = page.extract_tables()
        df = pd.DataFrame(tables[2])

df = pd.DataFrame(tables[2])
df

,0,1,2,3,4,5,6,7
0,Service\nDate,Ticket #,Unit #,Item Description,Qty,Unit of\nMeasure,Unit Price,Amount
1,,None,,None,1,None,"1,000.00",None