In [2]:
import pandas as pd
url = "https://www.imdb.com/chart/top"

In [3]:
tables = pd.read_html(url)

In [7]:
table_df = tables[0]
table_df[["Rank & Title","IMDb Rating"]]

                             Rank & Title  IMDb Rating
0    1.  The Shawshank Redemption  (1994)          9.2
1               2.  The Godfather  (1972)          9.2
2             3.  The Dark Knight  (2008)          9.0
3       4.  The Godfather Part II  (1974)          9.0
4                5.  12 Angry Men  (1957)          9.0
..                                    ...          ...
245                246.  The Help  (2011)          8.0
246           247.  Life of Brian  (1979)          8.0
247          248.  The Iron Giant  (1999)          8.0
248                 249.  Aladdin  (1992)          8.0
249      250.  Dances with Wolves  (1990)          8.0

[250 rows x 2 columns]